.App {
  text-align: center;
}
.strike {
  text-decoration: line-through;
}

.addTodo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.todoItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin: auto auto 1rem auto;
  padding: 0.5rem;
}
.todoItem span {
  margin: 0 1rem;
  flex-basis: 47%;
}
.todoItem .hide {
display: none;
}
.todoItem .show {
  display: block;
}